@charset "UTF-8";

:root {
  --cor0: #ffffff;
  --cor1: #008cba;
  --cor2: #333f;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background-color: var(--cor0);
  color: var(--cor2);
}

header {
  background-color: var(--cor1);
  color: var(--cor0);
  text-align: center;
  padding: 2rem 1rem;
}

.profile-pic {
  width: 120px;
  border-radius: 50%;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin: 0 10px;
}

nav ul li a {
  color: var(--cor0);
  text-decoration: none;
}

main {
  padding: 1rem;
  max-width: 900px;
  margin: auto;
}

section,
aside {
  margin-bottom: 2rem;
}

h2 {
  background-image: linear-gradient(to right, var(--cor1), var(--cor0));
  color: var(--cor0);
}

footer {
  background-color: var(--cor2);
  color: var(--cor0);
  text-align: center;
  padding: 1px;
}

@media screen and (max-width: 600px) {
  nav ul li {
    display: block;
    margin: 5px 0;
  }

  .profile-pic {
    width: 80px;
  }
}
