@charset "UTF-8";

:root {
  --color00: #03658c;
  --color01: #025373;
  --color02: #049dbf;
  --color03: #0388a6;
  --color04: #025e73;
  --color05: #ffffff;
  --color06: #f4f4f4;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  color: var(--color02);
}

header {
  background-image: linear-gradient(
    to right,
    var(--color00),
    var(--color01),
    var(--color02),
    var(--color03),
    var(--color04)
  );
  color: var(--color06);
  text-align: center;
  padding: 2rem 1rem;
}

.certificados-flex {
  display: flex; /* Alinha os itens filhos (imagens) em uma linha */
}

.certificado01,
.certificado02,
.certificado03,
.certificado04,
.certificado05 {
  display: inline-flex;
  margin: 10px 10px 10px 10px;
  width: 50%;
  border: 5px solid var(--color03);
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: transform 0.3s ease;
}

.certificado01:hover,
.certificado02:hover,
.certificado03:hover,
.certificado04:hover,
.certificado05:hover {
  transform: scale(1.05);
}

.profile-pic {
  width: 150px;
  height: 150px;
  border-radius: 50%; /* Imagem de perfil redonda */
  object-fit: cover;
  border: 5px solid var(--color03);
  margin-bottom: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin: 0 10px;
}

nav ul li a {
  color: var(--color06);
  text-decoration: none;
}

main {
  display: block;
  max-width: 700px;
  margin: auto;
}

section,
aside {
  margin-bottom: 2rem;
}

h2 {
  background-image: linear-gradient(
    to right,
    var(--color00),
    var(--color02),
    var(--color05)
  );
  color: var(--color06);
}

footer {
  background-color: var(--color00);
  color: var(--color06);
  text-align: center;
  padding: 1px;
  font-weight: bold;
}

@media screen and (max-width: 600px) {
  nav ul li {
    display: block;
    margin: 5px 0;
  }

  .profile-pic {
    width: 80px;
  }
}
